@import url("https://fonts.googleapis.com/css2?family=Archivo&family=Bebas+Neue&family=Heebo&family=Noto+Sans+KR&family=Open+Sans&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100vh;
      position: relative; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        padding: 50px; }
    #wrap .swiper-wrapper .sld1 .inner {
      background: #f7f3f0;
      padding: 0; }
      #wrap .swiper-wrapper .sld1 .inner .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        perspective: 600px; }
        #wrap .swiper-wrapper .sld1 .inner .container .wrap {
          width: 100%;
          display: flex; }
          #wrap .swiper-wrapper .sld1 .inner .container .wrap .left {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 50%;
            height: 91vh;
            flex-wrap: wrap; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .linebottom {
              width: calc(100% + (1vw));
              height: 0;
              background: #000;
              position: absolute;
              left: 0;
              bottom: 0; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .linebottom::before {
                content: '';
                width: 100%;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: -1vw;
                left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .linebottom::after {
                content: '';
                width: 100%;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 1vw;
                left: -1vw; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .midline {
              position: absolute;
              display: block;
              left: 50%;
              width: 0;
              background: #000;
              bottom: -15px;
              height: 2vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .midline::before {
                content: '';
                width: 1px;
                height: 100%;
                background: #000;
                position: absolute;
                top: 3px;
                left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .midline::after {
                content: '';
                width: 1px;
                height: 100%;
                background: #000;
                position: absolute;
                top: 3px;
                left: 1vw; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .icon {
              position: absolute;
              width: 2vw;
              height: 2vw;
              bottom: -1.2vw;
              left: 49%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .icon span {
                position: absolute;
                width: inherit;
                height: inherit; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .leftbox {
              width: 100%;
              height: 100%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .leftbox svg {
                position: absolute;
                bottom: 4vw;
                left: 2vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .leftbox svg text {
                  font: bold 5vw/1 'Overpass';
                  fill: #fff;
                  stroke: #111;
                  stroke-width: 2;
                  stroke-linejoin: miter;
                  stroke-linecap: square;
                  stroke-dasharray: 240px;
                  stroke-dashoffset: 240px;
                  transform: scale(0.96);
                  transform-origin: center center;
                  animation: ani 3s alternate-reverse linear infinite; }
@keyframes ani {
  0% {
    stroke-dashoffset: 240px;
    transition: stroke-dashoffset 1s 1s, fill 1s 0s; }
  100% {
    fill: #fff;
    stroke-width: 1;
    stroke-dashoffset: 0px;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s 0s, fill 1s 1s; } }
          #wrap .swiper-wrapper .sld1 .inner .container .wrap .right {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 50%;
            height: 91vh; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card {
              display: flex;
              width: 50%;
              height: 40%;
              transform-style: preserve-3d;
              transition: 0.5s; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .linebottom {
                width: calc(100% + (1vw));
                height: 0;
                background: #000;
                position: absolute;
                left: 0;
                bottom: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .linebottom::before {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  bottom: -1vw;
                  left: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .linebottom::after {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  bottom: 1vw;
                  left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .lineleft {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #000; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .lineleft::before {
                  content: '';
                  width: 1px;
                  height: calc(100% + 10vw);
                  background: #000;
                  position: absolute;
                  top: -1vw;
                  left: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .lineleft::after {
                  content: '';
                  width: 1px;
                  height: calc(100% + 10vw );
                  background: #000;
                  position: absolute;
                  top: -1vw;
                  left: 1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .icon {
                position: absolute;
                width: 2vw;
                height: 2vw;
                bottom: -1.2vw;
                left: -0.5vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .icon span {
                  position: absolute;
                  width: inherit;
                  height: inherit; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box {
              width: 50%;
              height: 12%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .linecenter {
                width: calc(100% + 1vw);
                height: 1px;
                background: #000;
                position: absolute;
                display: block;
                left: -1vw;
                top: 0; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .lineleft {
                width: 0;
                height: 100%;
                background: #000;
                position: absolute;
                display: block;
                left: 0;
                top: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .lineleft::before {
                  content: '';
                  width: 1px;
                  height: calc( 100% + 2vw);
                  background: #000;
                  position: absolute;
                  left: -1vw;
                  top: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .lineleft::after {
                  content: '';
                  width: 1px;
                  height: calc(100% + 2vw);
                  background: #000;
                  position: absolute;
                  left: 1vw;
                  top: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .linebottom {
                width: calc(100% + 1vw);
                height: 0;
                background: #000;
                position: absolute;
                display: block;
                left: 0;
                bottom: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .linebottom::before {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  left: -1vw;
                  bottom: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .linebottom::after {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  bottom: 1vw;
                  left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .icon {
                position: absolute;
                width: 2vw;
                height: 2vw;
                bottom: -1.2vw;
                left: -0.5vw; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 {
              width: 50%;
              height: 12%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 .frame .icon {
                position: absolute;
                width: 2vw;
                height: 2vw;
                bottom: -1.2vw;
                left: 24.5vw; }
    #wrap .swiper-wrapper .sld2 {
      padding: 40px;
      background: #ececec; }
      #wrap .swiper-wrapper .sld2 > .inner {
        margin: 0 auto; }
        #wrap .swiper-wrapper .sld2 > .inner::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper .sld2 > .inner .wrap {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          background: #fff; }
          #wrap .swiper-wrapper .sld2 > .inner .wrap .left {
            border-top: 1px solid #ececec;
            width: 600px; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox {
              width: 100%;
              height: 200px;
              border-bottom: 1px solid #ececec;
              border-right: 1px solid #ececec; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .left .middlebox {
              width: 100%;
              height: 360px;
              border-right: 1px solid #ececec;
              border-bottom: 1px solid #ececec; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .left .bottombox {
              width: 100%;
              height: 181px;
              border-right: 1px solid #ececec;
              border-bottom: 1px solid #ececec; }
          #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox {
            width: 886px; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .top {
              width: 100%;
              height: 561px;
              border-bottom: 1px solid #ececec; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom {
              width: 100%;
              display: flex; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article {
                width: 443px;
                height: 181px;
                padding: 12px 30px 0;
                position: relative;
                background: #fff;
                border-bottom: 1px solid #ececec;
                border-right: 1px solid #ececec; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 3vh;
    right: 3vw;
    transform: translateY(-50%);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 3vh;
    left: auto;
    right: calc(3vw + 50px);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-pagination {
    position: absolute;
    left: 20vw;
    top: 3vh;
    right: auto;
    width: auto; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0;
      opacity: 0.7;
      margin-left: 30px;
      font: 15px/1 'Archivo'; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
