@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Heebo&family=Noto+Sans+KR&family=Open+Sans&family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

#wrap {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  #wrap .swiper-wrapper {
    width: 100%;
    height: 100%; }
    #wrap .swiper-wrapper .swiper-slide {
      width: 100%;
      height: 100vh;
      position: relative; }
      #wrap .swiper-wrapper .swiper-slide .inner {
        width: 100%;
        height: 100%;
        padding: 50px; }
    #wrap .swiper-wrapper .sld1 .inner {
      background: #f7f3f0;
      padding: 0; }
      #wrap .swiper-wrapper .sld1 .inner .container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        perspective: 600px; }
        #wrap .swiper-wrapper .sld1 .inner .container .wrap {
          width: 100%;
          display: flex; }
          #wrap .swiper-wrapper .sld1 .inner .container .wrap .left {
            position: relative;
            display: flex;
            justify-content: space-between;
            width: 50%;
            height: 91vh;
            flex-wrap: wrap; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .line_bt {
              width: calc(100% + (1vw));
              height: 0;
              background: #000;
              position: absolute;
              left: 0;
              bottom: 0; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .line_bt::before {
                content: '';
                width: 100%;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: -1vw;
                left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .line_bt::after {
                content: '';
                width: 100%;
                height: 1px;
                background: #000;
                position: absolute;
                bottom: 1vw;
                left: -1vw; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .midline {
              position: absolute;
              display: block;
              left: 50%;
              width: 0;
              background: #000;
              bottom: -15px;
              height: 2vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .midline::before {
                content: '';
                width: 1px;
                height: 100%;
                background: #000;
                position: absolute;
                top: 3px;
                left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .midline::after {
                content: '';
                width: 1px;
                height: 100%;
                background: #000;
                position: absolute;
                top: 3px;
                left: 1vw; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .icon {
              position: absolute;
              width: 2vw;
              height: 2vw;
              bottom: -1.4vw;
              left: 49.2%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .frame .icon span {
                position: absolute;
                width: inherit;
                height: inherit; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .leftbox {
              width: 100%;
              height: 100%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .leftbox svg {
                position: absolute;
                bottom: 4vw;
                left: 3vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .left .leftbox svg text {
                  font: bold 4.5vw/1 'Overpass';
                  fill: #fff;
                  stroke: #111;
                  stroke-width: 2;
                  stroke-linejoin: miter;
                  stroke-linecap: square;
                  stroke-dasharray: 240px;
                  stroke-dashoffset: 240px;
                  transform: scale(0.96);
                  transform-origin: center center;
                  animation: ani 3s alternate-reverse linear infinite; }
@keyframes ani {
  0% {
    stroke-dashoffset: 240px;
    transition: stroke-dashoffset 1s 1s, fill 1s 0s; }
  100% {
    fill: #fff;
    stroke-width: 1;
    stroke-dashoffset: 0px;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 1s 0s, fill 1s 1s; } }
          #wrap .swiper-wrapper .sld1 .inner .container .wrap .right {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 50%;
            height: 91vh; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card {
              display: flex;
              width: 50%;
              height: 40%;
              transform-style: preserve-3d;
              transition: 0.5s; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .line_bt {
                width: calc(100% + (1vw));
                height: 0;
                background: #000;
                position: absolute;
                left: 0;
                bottom: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .line_bt::before {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  bottom: -1vw;
                  left: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .line_bt::after {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  bottom: 1vw;
                  left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .line_lf {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                width: 0;
                height: 100%;
                background: #000; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .line_lf::before {
                  content: '';
                  width: 1px;
                  height: calc(100% + 10vw);
                  background: #000;
                  position: absolute;
                  top: -1vw;
                  left: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .line_lf::after {
                  content: '';
                  width: 1px;
                  height: calc(100% + 10vw );
                  background: #000;
                  position: absolute;
                  top: -1vw;
                  left: 1vw;
                  left: 26vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .icon {
                position: absolute;
                width: 2vw;
                height: 2vw;
                bottom: -1.4vw;
                left: -0.4vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .card .frame .icon span {
                  position: absolute;
                  width: inherit;
                  height: inherit; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box {
              width: 50%;
              height: 12%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .linecenter {
                width: calc(100% + 1vw);
                height: 1px;
                background: #000;
                position: absolute;
                display: block;
                left: -1vw;
                top: 0; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .line_lf {
                width: 0;
                height: 100%;
                background: #000;
                position: absolute;
                display: block;
                left: 0;
                top: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .line_lf::before {
                  content: '';
                  width: 1px;
                  height: calc( 100% + 2vw);
                  background: #000;
                  position: absolute;
                  left: -1vw;
                  top: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .line_lf::after {
                  content: '';
                  width: 1px;
                  height: calc(100% + 2vw);
                  background: #000;
                  position: absolute;
                  left: 1vw;
                  top: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .line_bt {
                width: calc(100% + 1vw);
                height: 0;
                background: #000;
                position: absolute;
                display: block;
                left: 0;
                bottom: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .line_bt::before {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  left: -1vw;
                  bottom: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .line_bt::after {
                  content: '';
                  width: 100%;
                  height: 1px;
                  background: #000;
                  position: absolute;
                  bottom: 1vw;
                  left: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box .frame .icon {
                position: absolute;
                width: 2vw;
                height: 2vw;
                bottom: -1.4vw;
                left: -0.4vw; }
            #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 {
              width: 50%;
              height: 12%; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 .frame .lineleft {
                width: 0;
                height: 100%;
                background: #000;
                position: absolute;
                display: block;
                left: 0;
                top: 0; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 .frame .lineleft::before {
                  content: '';
                  width: 1px;
                  height: 16vh;
                  background: #000;
                  position: absolute;
                  left: 24vw;
                  bottom: -1vw; }
                #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 .frame .lineleft::after {
                  content: '';
                  width: 1px;
                  height: 16vh;
                  background: #000;
                  position: absolute;
                  left: 26vw;
                  bottom: -1vw; }
              #wrap .swiper-wrapper .sld1 .inner .container .wrap .right .box1 .frame .icon {
                position: absolute;
                width: 2vw;
                height: 2vw;
                bottom: -1.4vw;
                left: 24.6vw; }
    #wrap .swiper-wrapper .sld2, #wrap .swiper-wrapper .sld3, #wrap .swiper-wrapper .sld4, #wrap .swiper-wrapper .sld5, #wrap .swiper-wrapper .sld6 {
      padding: 60px 40px;
      background: #ececec; }
      #wrap .swiper-wrapper .sld2 > .inner, #wrap .swiper-wrapper .sld3 > .inner, #wrap .swiper-wrapper .sld4 > .inner, #wrap .swiper-wrapper .sld5 > .inner, #wrap .swiper-wrapper .sld6 > .inner {
        padding: 60px 50px;
        margin: 0 auto; }
        #wrap .swiper-wrapper .sld2 > .inner::after, #wrap .swiper-wrapper .sld3 > .inner::after, #wrap .swiper-wrapper .sld4 > .inner::after, #wrap .swiper-wrapper .sld5 > .inner::after, #wrap .swiper-wrapper .sld6 > .inner::after {
          content: '';
          display: block;
          clear: both; }
        #wrap .swiper-wrapper .sld2 > .inner .wrap, #wrap .swiper-wrapper .sld3 > .inner .wrap, #wrap .swiper-wrapper .sld4 > .inner .wrap, #wrap .swiper-wrapper .sld5 > .inner .wrap, #wrap .swiper-wrapper .sld6 > .inner .wrap {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          background: #fff; }
          #wrap .swiper-wrapper .sld2 > .inner .wrap .left, #wrap .swiper-wrapper .sld3 > .inner .wrap .left, #wrap .swiper-wrapper .sld4 > .inner .wrap .left, #wrap .swiper-wrapper .sld5 > .inner .wrap .left, #wrap .swiper-wrapper .sld6 > .inner .wrap .left {
            border-top: 1px solid #ececec;
            flex-basis: 35%; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .topbox, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .topbox, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .topbox, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .topbox {
              width: 100%;
              height: 200px;
              border-bottom: 1px solid #ececec;
              border-right: 1px solid #ececec;
              display: flex;
              position: relative; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox .lbox, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .topbox .lbox, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .topbox .lbox, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .topbox .lbox, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .topbox .lbox {
                padding: 30px;
                width: 200px;
                background: #e4e4e4; }
                #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox .lbox > h1, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .topbox .lbox > h1, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .topbox .lbox > h1, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .topbox .lbox > h1, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .topbox .lbox > h1 {
                  font: bold 130px/1 'Heebo';
                  text-align: center;
                  vertical-align: middle; }
                  #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox .lbox > h1::before, #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .topbox .lbox > h1::before, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .topbox .lbox > h1::before, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .topbox .lbox > h1::before, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .topbox .lbox > h1::before, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .topbox .lbox > h1::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0; }
                  #wrap .swiper-wrapper .sld2 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .topbox .lbox > h1::after, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .topbox .lbox > h1::after {
                    background-image: url(../img/pixel.png);
                    background-size: 2px 2px;
                    background-position: 0 0; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .left .middlebox, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .middlebox, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .middlebox, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .middlebox, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .middlebox {
              width: 100%;
              height: 360px;
              border-right: 1px solid #ececec;
              border-bottom: 1px solid #ececec;
              padding: 30px; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .left .middlebox p, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .middlebox p, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .middlebox p, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .middlebox p, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .middlebox p {
                font: 15px/1 'Heebo';
                margin-bottom: 10px; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .left .middlebox h2, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .middlebox h2, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .middlebox h2, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .middlebox h2, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .middlebox h2 {
                font: 20px/1.4 'Noto Sans KR';
                margin-bottom: 50px; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .left .middlebox span, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .middlebox span, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .middlebox span, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .middlebox span, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .middlebox span {
                font: 16px/1.6 'Noto Sans KR'; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .left .bottombox, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .bottombox, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .bottombox, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .bottombox, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .bottombox {
              width: 100%;
              height: 181px;
              border-right: 1px solid #ececec;
              border-bottom: 1px solid #ececec;
              padding: 30px; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .left .bottombox p, #wrap .swiper-wrapper .sld3 > .inner .wrap .left .bottombox p, #wrap .swiper-wrapper .sld4 > .inner .wrap .left .bottombox p, #wrap .swiper-wrapper .sld5 > .inner .wrap .left .bottombox p, #wrap .swiper-wrapper .sld6 > .inner .wrap .left .bottombox p {
                font: 15px/1 'Heebo';
                margin-bottom: 10px;
                color: #9a9a9a; }
          #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox {
            flex-basis: 65%; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .top, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .top, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .top, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .top, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .top {
              width: 100%;
              height: 561px;
              border-bottom: 1px solid #ececec; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .top img, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .top img, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .top img, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .top img, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .top img {
                width: 100%;
                height: 100%; }
            #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom {
              width: 100%;
              display: flex;
              background: #e4e4e4; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom .bottom_l, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom .bottom_l, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom .bottom_l, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom .bottom_l, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom .bottom_l {
                background-image: url(../img/pixel.png);
                background-size: 2px 2px;
                background-position: 0 0; }
              #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article {
                width: 100%;
                height: 181px;
                position: relative;
                border-bottom: 1px solid #ececec;
                border-right: 1px solid #ececec; }
                #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article:nth-of-type(2), #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article:nth-of-type(2), #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article:nth-of-type(2), #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article:nth-of-type(2), #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article:nth-of-type(2) {
                  background: #fff; }
                #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article::after, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article::after, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article::after, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article::after, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article::after {
                  content: '';
                  display: block;
                  clear: both; }
                #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li {
                  float: right;
                  margin-right: 25px;
                  border: 1px solid #8b8b8b;
                  border-radius: 10px;
                  padding: 12px;
                  top: 100px;
                  position: relative;
                  transition: 0.5s ease-in-out; }
                  #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li a, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li a, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li a, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li a, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li a {
                    font: 16px/1 'Noto Sans KR';
                    color: #8b8b8b; }
                  #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li:nth-of-type(2), #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li:nth-of-type(2), #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li:nth-of-type(2), #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li:nth-of-type(2), #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li:nth-of-type(2) {
                    background: #404040; }
                    #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li:nth-of-type(2) a, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li:nth-of-type(2) a, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li:nth-of-type(2) a, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li:nth-of-type(2) a, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li:nth-of-type(2) a {
                      color: #fff; }
                    #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover {
                      background: #fff; }
                      #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover a, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover a, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover a, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover a, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li:nth-of-type(2):hover a {
                        color: #111; }
                  #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li:hover, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li:hover, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li:hover, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li:hover, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li:hover {
                    transform: translateY(5px);
                    background: #969696; }
                    #wrap .swiper-wrapper .sld2 > .inner .wrap .rightbox .bottom article li:hover a, #wrap .swiper-wrapper .sld3 > .inner .wrap .rightbox .bottom article li:hover a, #wrap .swiper-wrapper .sld4 > .inner .wrap .rightbox .bottom article li:hover a, #wrap .swiper-wrapper .sld5 > .inner .wrap .rightbox .bottom article li:hover a, #wrap .swiper-wrapper .sld6 > .inner .wrap .rightbox .bottom article li:hover a {
                      color: #fff; }
  #wrap .swiper-button-next {
    top: auto;
    bottom: 3vh;
    right: 3vw;
    transform: translateY(-50%);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-button-prev {
    top: auto;
    bottom: 3vh;
    left: auto;
    right: calc(3vw + 50px);
    transform: scale(0.6);
    filter: saturate(0%) brightness(100%);
    opacity: 1; }
  #wrap .swiper-pagination {
    position: absolute;
    left: 15vw;
    top: 3vh;
    right: auto;
    width: auto; }
    #wrap .swiper-pagination span {
      width: auto;
      height: auto;
      background: transparent;
      border-radius: 0;
      opacity: 0.7;
      margin-left: 30px;
      font: 15px/1 'Archivo'; }
      #wrap .swiper-pagination span.swiper-pagination-bullet-active {
        opacity: 1;
        font-weight: bold; }

/*# sourceMappingURL=style.css.map */
