*{ margin:0; padding:0; box-sizing: border-box;}
ul,ol,li{ list-style:none; }
a{ text-decoration:none; }

@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Bebas+Neue&family=Heebo&family=Noto+Sans+KR&family=Open+Sans&family=Playfair+Display&display=swap');

// font-family: 'Archivo', sans-serif;
// font-family: 'Bebas Neue', cursive;
// font-family: 'Heebo', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Playfair Display', serif;